{% extends "base.html" %}

{% block page_content %}
  <div class="second-container">
    <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Engine ID</th>
        <th scope="col">Aircraft ID</th>
        <th scope="col">Position</th>
        <th scope="col">Engine Hours</th>
      </tr>
    </thead>
    <tbody>
    {% for engine in data %}
      <tr>
        <th scope="row"> {{engine.id}} </th>
        <td>{{engine.aircraft_id}}</td>
        <td>{{engine.position}}</td>
        <td>{{engine.e_hours}}</td>
        {% endfor %}
    </tbody>
  </table>
  </div>
{% endblock %}
