{% extends "base.html" %}

{% block page_content %}
<div>
    <h1 class="indexHeader">Choose An Option:</h1>
</div>
<div class="container">
    <div class="box box1"><a class="linker" href="{{ url_for('auth.login') }}">View Aircraft</a></div>
    <div class="box box2"><a class="linker" href="{{ url_for('auth.login') }}"> View Engines</a></div>
    <div class="box box3"><a class="linker" href="{{ url_for('auth.login') }}"> Complete Maintenance</a></div>
    <div class="box box4"><a class="linker" href="{{ url_for('auth.login') }}"> View Maintenance History</a></div>
    <div class="box box5"><a class="linker" href="{{ url_for('auth.login') }}"> View Maintenance Due</a></div>
    <div class="box box6"><a class="linker" href="{{ url_for('auth.login') }}"> View Mechanics</a></div>
  </div>
</body>
{% endblock %}
